<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Kontakt | Smaczne.pl</title>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div id="content-wrapper">
    <div id="navbar-wrapper" th:insert="~{navbar :: navbar}"></div>

    <h1 class="just-header">Kontakt</h1>

    <form class="mail-form" action="/sendMail" method="post">
      <div>
        <input type="email" id="from" name="from" required placeholder="Email">
      </div>
      <div>
        <input type="text" id="subject" name="subject" required placeholder="Temat">
      </div>
      <div>
        <textarea id="text" name="text" required rows="20" placeholder="Treść wiadomości..."></textarea>
      </div>
      <div>
        <button type="submit">Wyślij Email</button>
      </div>

    </form>
  </div>


  <div id="footer-wrapper" th:insert="~{footer :: footer}"></div>
</body>

</html>
