<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Koszyk</title>
</head>
<body>

<div th:insert="~{navbar :: navbar}"></div>

<h1>Koszyk</h1>

<table border="1">
  <thead>
  <tr>
    <th>Danie</th>
    <th>Ilość</th>
    <th>Cena</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pozycja : ${koszyk}">
    <td th:text="${pozycja.danie.nazwa}"></td>
    <td th:text="${pozycja.ilosc}"></td>
    <td th:text="${pozycja.danie.cena}"></td>
    <td>
      <form action="/usunZKoszyka" method="post">
        <input type="hidden" name="id" th:value="${pozycja.danie.id}" />
        <button type="submit">Usuń</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<form action="/zaplac" method="post">
  <button type="submit">Zamów i Zapłać</button>
</form>
  <div>
  <span>Łączna cena: </span>
  <span th:text="${sumaWartosci}"></span>
</div>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>
